src/data/fonts
src/data/clips*
src/data/imgs*
docker-compose Kopie2.yml
docker-compose - Kopie.yml
docker-compose.yml
src/stealer*
src/stealer.py
src/mirror.py
docker-compose.yml
.cursor/rules/.cursorrules
.gitignore
.trae/.ignore
.trae/rules/project_rules.md
done.txt
.gitignore
.vscode/settings.json
.trae/buttergolem.md
.trae/checklist.md
.trae/new.md
docker-compose.yml
privacy_policy.md
