src/data/fonts
src/data/clips*
src/data/imgs*
src/stealer*
src/stealer.py
src/mirror.py
.cursor/rules/.cursorrules
done.txt
.gitignore
.vscode/settings.json
.trae/buttergolem.md
.trae/checklist.md
.trae/new.md
data/clips*
data/drachigotchis.json
data/drache*
data/emojis*
data/imgs*
.cursor*
.kiro*
.trae*
src/data*
data*
src/ki*
src/ai_chatbot.py
.gitignore
